body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EBECED;
  line-height: 1.3;
}

.container {
  margin-top: 15px;
}

.content {
  margin-top: 70px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.form-block {
  border-bottom: #F0F0F3 1px solid;
  padding: 20px;
}

.text-sub {
  font-size: 0.85rem;
  color: #A7AAB3;
}

.bold-label {
  font-weight: bold;
}